* {
    margin: 0;
    padding: 0;
}

table {
    text-align: center;
    font-size: 20px;
    border-collapse: collapse;
}

th {
    font-size: 25px;
}

thead tr {
    background-color: rgb(197, 192, 192)
}

td,
th {
    padding: 0.5em;
    border-collapse: collapse;
}

tbody td:first-of-type {
    text-transform: capitalize;
}

tbody tr:nth-child(odd) {
    background-color: #ffebeb
}

tbody tr:hover {
    background-color: #D6EEEE;
}

thead tr th:first-child {
    width: 150px
}

input[type="text"] {
    width: 160px;
    padding: 5px;
}

thead tr th,
tbody tr td {
    width: 80px
}

input[type="number"] {
    width: 80px;
    padding: 5px;
}